@media(min-width:201px) and (max-width: 500px){
header{
 display: inline-flex;
 width: 100%;
 height: 3vh;
 align-items: center;
 justify-content: flex-start;
}
#ButtonMenu{
    display: flex;
    width: 6%;
    height: 2.9vh;
    background-color: black;
    color: white;
    align-items: center;
}

header h1{
    display: flex;
    margin:2rem;
    font-size:1rem;
}

.mainLaranja{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70vh;
    background-image: url(/assets/laranja.Mobile.png);
}
.textoLaranja{
    font-size: 3rem;
    margin-top: 14rem;
    width: 80vw;
    height: auto;
}

.textoLaranja p{
    font-size: 2rem;
    margin-top: 2.5rem;
}
.mainImagens{
    display: flex;
    flex-direction: column;
    margin-left: 1vh;
    width: 100%;
    height: 480vh;
}
.imagemMain{
    width: 96vw;
    height: 39vh;
}
.imagensFooter{
    width: auto;
    height: auto;
    margin-top: 20vh;
}

.ImagemFooter{
width: 3.8vw;
  }
.ImagemFooterface{
width: 2.8vw;
  }
}